condaenv/
.vscode/
utils/
__pycache__
Log/
.venv/
output/
tools/dataset_lists.yaml
tools/output
.ipynb_checkpoints
*.png


#vim
*.swp


# Distribution / packaging
*/bin/
*/build/
*/develop-eggs/
*/dist/
*/eggs/
*/lib/
*/lib64/
*/parts/
*/sdist/
*/var/
*.egg-info/
.installed.cfg
*.egg
condaenv/

